<?xml version="1.0"?>
<model>
  <name>Techtrix cylinder</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Javier Paez Franco</name>
   <email>jpaefra@gmail.com</email>
  </author>

  <description>
    A cylinder used in the factory to simulate the TechTrix robot.
  </description>
</model>